h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
}
div.transbox {
  height: 150px;
  background-color: rgba(100, 100, 100, 0.5);
  align-items: center;
}
div.transbox h1 {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 10px black;
}
.jumbotron {
  background: url(/img/yousef-espanioly-L6g30JaQ5Tc-unsplash.jpg) no-repeat
    center center;
  background-size: cover;
  min-height: 250px;
  margin: 0;
}
.navbar {
  background-color: #114e72;
  opacity: 0.8;
}
